body {
  display:grid;
  justify-content: center;
  align-items: center;
  height:auto;
  background-color: rgb(7, 171, 241);
  font-family:'Times New Roman', Times, serif;;
}
.calculator {
  background-color:aqua;
  padding:20px;
  width:350px;
}
#display {
  width:325px;
  height:70px;
  font-size:large;
  text-align:right;
  margin-bottom:15px;
  padding:10px;
  border:#000000;
  background-color:aliceblue;
}
.buttons {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:5px;
}
button {
  padding:20px;
  font-size:large;
  background-color:blue;
  color:rgb(12, 12, 12);
}
button:hover {
  background-color:blueviolet;
}
